Lab2-NodeRed
[{"id":"f4a570a0.e3bdb","type":"debug","z":"2217e523.dcf06a","name":"Debug_packet","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":840,"y":460,"wires":[]},{"id":"1ff8f117.628e3f","type":"inject","z":"2217e523.dcf06a","name":"","topic":"MQTT","payload":"Testing","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["879a678d.8f1a38"]]},{"id":"1a66dfe3.5bf11","type":"ui_chart","z":"2217e523.dcf06a","name":"","group":"82154f27.976f","order":3,"width":"12","height":"4","label":"Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":520,"wires":[[]]},{"id":"79f690f9.5782f","type":"function","z":"2217e523.dcf06a","name":"Decode_packet_from_server","func":"function hexStringToByte(str) \n{\n  if (!str) {\n    return new Uint8Array();\n  }\n  var a = [];\n  for (var i = 0, len = str.length; i < len; i+=2) {\n    a.push(parseInt(str.substr(i,2),16));\n  }\n  return a;           //return new Uint8Array(a);\n}  // end function\n\n\nvar str = msg.payload.DevEUI_uplink.payload_hex\nvar payload_int = [];\npayload_int = hexStringToByte(str);\n\nvar bytes = payload_int;\nvar j=0;\n    \nvar V   = (bytes[j++] << 8) | bytes[j++];       \nvar A   = (bytes[j++] << 8) | bytes[j++];       \nvar PF  = (bytes[j++] << 8) | bytes[j++];       \nvar W   = (bytes[j++] << 8) | bytes[j++];        \nvar Wh  = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\nvar F   = (bytes[j++] << 8) | bytes[j++];      \nvar Count = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\n\nvar payload = {\n            volt: V/100,\n            current: A/100,\n            pf: PF/100,\n            watt: W,\n            kWh: Wh/1000,\n            freq: F/10,           \n            count: Count\n    }; \n        \n        \nvar payload_string =  { \n    \n    payload:\n        msg.payload.DevEUI_uplink.Time +\",\"+\n        msg.payload.DevEUI_uplink.DevEUI +\",\"+\n        msg.payload.DevEUI_uplink.FCntUp +\",\"+\n        msg.payload.DevEUI_uplink.payload_hex +\",\"+\n        payload.volt +\",\"+\n        payload.current +\",\"+\n        payload.pf +\",\"+\n        payload.watt +\",\"+\n        payload.kWh +\",\"+\n        payload.freq +\",\"+\n        payload.count +\",\"+\n        msg.payload.DevEUI_uplink.LrrRSSI +\",\"+\n        msg.payload.DevEUI_uplink.LrrSNR +\",\"+\n        msg.payload.DevEUI_uplink.SpFact +\",\"+\n        msg.payload.DevEUI_uplink.Channel +\",\"+\n        msg.payload.DevEUI_uplink.DevLrrCnt +\",\"+\n        msg.payload.DevEUI_uplink.Lrrid \n//DateTime,ID,Counter,Payload_HEX,Volt,Current,PF,Watt,kWh,Freq,Node_counter,RSSI,SNR,SF,Channel,GW_GET_Number,GW_ID \\n    \n};         \nreturn [payload,payload_string];","outputs":2,"noerr":0,"x":420,"y":460,"wires":[["f4a570a0.e3bdb","a9348d2.fbd8e7","84876902.268698","1e0d2bbc.2de894","d0e590f.be8617","f36ea003.9a16b","3f76ecc3.87a2a4","3a9f0d8c.359942"],["8147a150.0a1bd"]]},{"id":"a9348d2.fbd8e7","type":"function","z":"2217e523.dcf06a","name":"decode_volt","func":"return { \n    \n    payload: msg.volt,\n   \n}; ","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["1a66dfe3.5bf11"]]},{"id":"ec1a4fc.39c91b","type":"ui_chart","z":"2217e523.dcf06a","name":"","group":"82154f27.976f","order":4,"width":"12","height":"4","label":"Current (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":580,"wires":[[]]},{"id":"84876902.268698","type":"function","z":"2217e523.dcf06a","name":"decode_current","func":"return { \n    \n    payload: msg.current,\n   \n}; ","outputs":1,"noerr":0,"x":840,"y":580,"wires":[["ec1a4fc.39c91b"]]},{"id":"472fd99b.8b72e8","type":"ui_chart","z":"2217e523.dcf06a","name":"","group":"82154f27.976f","order":5,"width":"12","height":"4","label":"Power Factor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":640,"wires":[[]]},{"id":"1e0d2bbc.2de894","type":"function","z":"2217e523.dcf06a","name":"decode_PF","func":"return { \n    \n    payload: msg.pf,\n   \n}; ","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["472fd99b.8b72e8"]]},{"id":"9466fd9a.f3df5","type":"ui_chart","z":"2217e523.dcf06a","name":"","group":"dbb61d96.d9705","order":4,"width":"12","height":"4","label":"Energy (kWh)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":820,"wires":[[]]},{"id":"d0e590f.be8617","type":"function","z":"2217e523.dcf06a","name":"decode_kWh","func":"return { \n    \n    payload: msg.kWh,\n   \n}; ","outputs":1,"noerr":0,"x":830,"y":820,"wires":[["9466fd9a.f3df5","b27fbd7d.bc341"]]},{"id":"ffa642cd.9daf9","type":"ui_chart","z":"2217e523.dcf06a","name":"","group":"dbb61d96.d9705","order":2,"width":"12","height":"4","label":"Frequency (Hz)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":760,"wires":[[]]},{"id":"f36ea003.9a16b","type":"function","z":"2217e523.dcf06a","name":"decode_freq","func":"return { \n    \n    payload: msg.freq,\n   \n}; ","outputs":1,"noerr":0,"x":830,"y":760,"wires":[["ffa642cd.9daf9"]]},{"id":"b27fbd7d.bc341","type":"ui_gauge","z":"2217e523.dcf06a","name":"","group":"82154f27.976f","order":1,"width":"6","height":"4","gtype":"gage","title":"Energy (kWh)","label":"units","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":860,"wires":[]},{"id":"879a678d.8f1a38","type":"mqtt out","z":"2217e523.dcf06a","name":"","topic":"lorapacket","qos":"0","retain":"","broker":"96dd93c.6e6087","x":830,"y":260,"wires":[]},{"id":"9087076a.516278","type":"mqtt in","z":"2217e523.dcf06a","name":"","topic":"lorapacket","qos":"0","datatype":"json","broker":"96dd93c.6e6087","x":180,"y":380,"wires":[["79f690f9.5782f","2c35acdf.498fa4"]]},{"id":"2c35acdf.498fa4","type":"debug","z":"2217e523.dcf06a","name":"Raw_Packet_from_CAT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":380,"wires":[]},{"id":"ab7af6c.fffd608","type":"debug","z":"2217e523.dcf06a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":960,"wires":[]},{"id":"8147a150.0a1bd","type":"file","z":"2217e523.dcf06a","name":"Write_file","filename":"Smart_Meter_Node_Red_Export","appendNewline":true,"createDir":false,"overwriteFile":"false","x":680,"y":960,"wires":[["ab7af6c.fffd608"]]},{"id":"87962a19.452d98","type":"debug","z":"2217e523.dcf06a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1040,"wires":[]},{"id":"4a1e9a9a.540664","type":"file","z":"2217e523.dcf06a","name":"Delete_file","filename":"Smart_Meter_Node_Red_Export","appendNewline":false,"createDir":false,"overwriteFile":"true","x":690,"y":1040,"wires":[["87962a19.452d98"]]},{"id":"a63e390.cc07cc8","type":"file in","z":"2217e523.dcf06a","name":"Read_file","filename":"Smart_Meter_Node_Red_Export","format":"utf8","chunk":false,"sendError":false,"x":680,"y":1000,"wires":[["df2489c.1031178"]]},{"id":"df2489c.1031178","type":"debug","z":"2217e523.dcf06a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1000,"wires":[]},{"id":"3903b27d.eb318e","type":"inject","z":"2217e523.dcf06a","name":"DELETE!!!","topic":"","payload":"DateTime,ID,Counter,Payload_HEX,Volt,Current,PF,Watt,kWh,Freq,Node_counter,RSSI,SNR,SF,Channel,GW_GET_Number,GW_ID \\n","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1040,"wires":[["4a1e9a9a.540664"]]},{"id":"c3a3f9ee.e08ef8","type":"inject","z":"2217e523.dcf06a","name":"READ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":472,"y":1000,"wires":[["a63e390.cc07cc8"]]},{"id":"9db6b6ce.8f49b8","type":"ui_chart","z":"2217e523.dcf06a","name":"","group":"dbb61d96.d9705","order":3,"width":"12","height":"4","label":"Power (Watt)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":680,"wires":[[]]},{"id":"3f76ecc3.87a2a4","type":"function","z":"2217e523.dcf06a","name":"decode_Watt","func":"return { \n    \n    payload: msg.watt,\n   \n}; ","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["9db6b6ce.8f49b8","c05182c5.62c1c"]]},{"id":"c05182c5.62c1c","type":"ui_gauge","z":"2217e523.dcf06a","name":"","group":"82154f27.976f","order":2,"width":"6","height":"4","gtype":"gage","title":"Power (Watt)","label":"units","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":720,"wires":[]},{"id":"3a9f0d8c.359942","type":"function","z":"2217e523.dcf06a","name":"decode_counter","func":"return { \n    \n    payload: msg.count,\n   \n}; ","outputs":1,"noerr":0,"x":840,"y":900,"wires":[["48c8ffd.806f2"]]},{"id":"48c8ffd.806f2","type":"ui_text","z":"2217e523.dcf06a","group":"dbb61d96.d9705","order":1,"width":"12","height":"4","name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":900,"wires":[]},{"id":"82154f27.976f","type":"ui_group","z":"","name":"column I","tab":"601c884e.58e1e8","disp":true,"width":"12","collapse":false},{"id":"dbb61d96.d9705","type":"ui_group","z":"","name":"column II","tab":"601c884e.58e1e8","order":2,"disp":true,"width":"12","collapse":false},{"id":"96dd93c.6e6087","type":"mqtt-broker","z":"","name":"","broker":"tailor.cloudmqtt.com","port":"12624","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"601c884e.58e1e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
