Lab2-NodeRed
[{"id":"259efdc3.6d22b2","type":"debug","z":"d04ba4a9.52c3f8","name":"Debug_packet","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":260,"wires":[]},{"id":"f74a072c.c3f628","type":"inject","z":"d04ba4a9.52c3f8","name":"","topic":"MQTT","payload":"Testing","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["29877720.2e7548"]]},{"id":"1c609789.f922a8","type":"ui_chart","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":320,"wires":[[]]},{"id":"bc8c887e.d6e038","type":"function","z":"d04ba4a9.52c3f8","name":"Decode_packet_from_server","func":"function hexStringToByte(str) \n{\n  if (!str) {\n    return new Uint8Array();\n  }\n  var a = [];\n  for (var i = 0, len = str.length; i < len; i+=2) {\n    a.push(parseInt(str.substr(i,2),16));\n  }\n  return a;           //return new Uint8Array(a);\n}  // end function\n\n\nvar str = msg.payload.DevEUI_uplink.payload_hex\nvar payload_int = [];\npayload_int = hexStringToByte(str);\n\nvar bytes = payload_int;\nvar j=0;\n    \nvar V   = (bytes[j++] << 8) | bytes[j++];       \nvar A   = (bytes[j++] << 8) | bytes[j++];       \nvar PF  = (bytes[j++] << 8) | bytes[j++];       \nvar W   = (bytes[j++] << 8) | bytes[j++];        \nvar Wh  = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\nvar F   = (bytes[j++] << 8) | bytes[j++];      \nvar Count = (bytes[j++]<<24) | (bytes[j++]<<16) | (bytes[j++]<<8) | bytes[j++];\n\nvar payload = {\n            volt: V/100,\n            current: A/100,\n            pf: PF/100,\n            watt: W,\n            kWh: Wh/1000,\n            freq: F/10,           \n            count: Count\n    }; \n        \n        \nvar payload_string =  { \n    \n    payload:\n        msg.payload.DevEUI_uplink.Time +\",\"+\n        msg.payload.DevEUI_uplink.DevEUI +\",\"+\n        msg.payload.DevEUI_uplink.FCntUp +\",\"+\n        msg.payload.DevEUI_uplink.payload_hex +\",\"+\n        payload.volt +\",\"+\n        payload.current +\",\"+\n        payload.pf +\",\"+\n        payload.watt +\",\"+\n        payload.kWh +\",\"+\n        payload.freq +\",\"+\n        payload.count +\",\"+\n        msg.payload.DevEUI_uplink.LrrRSSI +\",\"+\n        msg.payload.DevEUI_uplink.LrrSNR +\",\"+\n        msg.payload.DevEUI_uplink.SpFact +\",\"+\n        msg.payload.DevEUI_uplink.Channel +\",\"+\n        msg.payload.DevEUI_uplink.DevLrrCnt +\",\"+\n        msg.payload.DevEUI_uplink.Lrrid \n//DateTime,ID,Counter,Payload_HEX,Volt,Current,PF,Watt,kWh,Freq,Node_counter,RSSI,SNR,SF,Channel,GW_GET_Number,GW_ID \\n    \n};         \nreturn [payload,payload_string];","outputs":2,"noerr":0,"x":340,"y":260,"wires":[["259efdc3.6d22b2","91f471e5.20ce6","dfa9e17e.aaa65","758719ac.b6b5f8","24dd546d.f5a6fc","331f707e.8914e","3c2f4f90.39555","916bbe2c.6cf8b"],["bc21b104.ce3b7"]]},{"id":"91f471e5.20ce6","type":"function","z":"d04ba4a9.52c3f8","name":"decode_volt","func":"return { \n    \n    payload: msg.volt,\n   \n}; ","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["1c609789.f922a8"]]},{"id":"663ee2fb.3b86cc","type":"ui_chart","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":380,"wires":[[]]},{"id":"dfa9e17e.aaa65","type":"function","z":"d04ba4a9.52c3f8","name":"decode_current","func":"return { \n    \n    payload: msg.current,\n   \n}; ","outputs":1,"noerr":0,"x":760,"y":380,"wires":[["663ee2fb.3b86cc"]]},{"id":"7c38b78b.e39928","type":"ui_chart","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":440,"wires":[[]]},{"id":"758719ac.b6b5f8","type":"function","z":"d04ba4a9.52c3f8","name":"decode_PF","func":"return { \n    \n    payload: msg.pf,\n   \n}; ","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["7c38b78b.e39928"]]},{"id":"67d706dd.698168","type":"ui_chart","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":620,"wires":[[]]},{"id":"24dd546d.f5a6fc","type":"function","z":"d04ba4a9.52c3f8","name":"decode_kWh","func":"return { \n    \n    payload: msg.kWh,\n   \n}; ","outputs":1,"noerr":0,"x":750,"y":620,"wires":[["67d706dd.698168","b25fda1b.574d68"]]},{"id":"291c38d5.037b98","type":"ui_chart","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":560,"wires":[[]]},{"id":"331f707e.8914e","type":"function","z":"d04ba4a9.52c3f8","name":"decode_freq","func":"return { \n    \n    payload: msg.freq,\n   \n}; ","outputs":1,"noerr":0,"x":750,"y":560,"wires":[["291c38d5.037b98"]]},{"id":"b25fda1b.574d68","type":"ui_gauge","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":660,"wires":[]},{"id":"29877720.2e7548","type":"mqtt out","z":"d04ba4a9.52c3f8","name":"","topic":"lorapacket","qos":"0","retain":"","broker":"90fbf504.c85cb8","x":750,"y":60,"wires":[]},{"id":"b8b57766.bb6548","type":"mqtt in","z":"d04ba4a9.52c3f8","name":"","topic":"lorapacket","qos":"0","datatype":"json","broker":"90fbf504.c85cb8","x":100,"y":180,"wires":[["bc8c887e.d6e038","503c0fd0.8cb14"]]},{"id":"503c0fd0.8cb14","type":"debug","z":"d04ba4a9.52c3f8","name":"Raw_Packet_from_CAT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"d0e7f373.c6134","type":"debug","z":"d04ba4a9.52c3f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":760,"wires":[]},{"id":"bc21b104.ce3b7","type":"file","z":"d04ba4a9.52c3f8","name":"Write_file","filename":"Smart_Meter_Node_Red_Export","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":600,"y":760,"wires":[["d0e7f373.c6134"]],"info":"C:\\Users\\Ake\\ชื่อไฟล์\nแปลง .txt เอาเอง"},{"id":"d0552ae5.884518","type":"debug","z":"d04ba4a9.52c3f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":840,"wires":[]},{"id":"431adae6.b6bbb4","type":"file","z":"d04ba4a9.52c3f8","name":"Delete_file","filename":"Smart_Meter_Node_Red_Export","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":840,"wires":[["d0552ae5.884518"]],"info":"C:\\Users\\Ake\\ชื่อไฟล์\nแปลง .txt เอาเอง"},{"id":"250ca96d.611506","type":"file in","z":"d04ba4a9.52c3f8","name":"Read_file","filename":"Smart_Meter_Node_Red_Export","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":600,"y":800,"wires":[["1c0b0cf5.1e8de3"]]},{"id":"1c0b0cf5.1e8de3","type":"debug","z":"d04ba4a9.52c3f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":800,"wires":[]},{"id":"a626433e.9dce","type":"inject","z":"d04ba4a9.52c3f8","name":"DELETE!!!","topic":"","payload":"DateTime,ID,Counter,Payload_HEX,Volt,Current,PF,Watt,kWh,Freq,Node_counter,RSSI,SNR,SF,Channel,GW_GET_Number,GW_ID \\n","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":840,"wires":[["431adae6.b6bbb4"]]},{"id":"72c69192.64403","type":"inject","z":"d04ba4a9.52c3f8","name":"READ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":392,"y":800,"wires":[["250ca96d.611506"]]},{"id":"f87e4926.e829b8","type":"ui_chart","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":480,"wires":[[]]},{"id":"3c2f4f90.39555","type":"function","z":"d04ba4a9.52c3f8","name":"decode_Watt","func":"return { \n    \n    payload: msg.watt,\n   \n}; ","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["f87e4926.e829b8","961eb8a5.099998"]]},{"id":"961eb8a5.099998","type":"ui_gauge","z":"d04ba4a9.52c3f8","name":"","group":"3fcdb17a.ead5de","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":520,"wires":[]},{"id":"916bbe2c.6cf8b","type":"function","z":"d04ba4a9.52c3f8","name":"decode_counter","func":"return { \n    \n    payload: msg.count,\n   \n}; ","outputs":1,"noerr":0,"x":760,"y":700,"wires":[["f8e3981b.f003e8"]]},{"id":"f8e3981b.f003e8","type":"ui_text","z":"d04ba4a9.52c3f8","group":"3fcdb17a.ead5de","order":8,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":700,"wires":[]},{"id":"3fcdb17a.ead5de","type":"ui_group","z":"","name":"My_dashboard","tab":"89f9a4d9.ed3368","disp":true,"width":"6","collapse":false},{"id":"90fbf504.c85cb8","type":"mqtt-broker","z":"","name":"","broker":"m15.cloudmqtt.com","port":"15033","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"89f9a4d9.ed3368","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
